@font-face {
  font-family: MyJost;
  src: url('../font/Jost/static/Jost-Black.ttf');
}
.theme-default .section_head{
    font-weight: 600;
  }

  .theme-modern .three-column ul {
    list-style-type: square!important;
  }
  
  .theme-modern .textarea{
      color: #1e3f5a!important;
      font-family: Montserrat, sans-serif!important;
      font-weight: 600!important;
  }
  

  /* Moden Theme */
  .theme-lavender .textarea{
      color: #1e3f5a!important;
      font-family: Raleway, sans-serif;
      font-weight: 400;
  }
  
  .theme-deco{
    font-family: "Lato", sans-serif;
  }

  
  /* Moden Theme */
  .theme-deco .textarea{
      color: #132226!important;
      font-family: Jost, sans-serif;
      font-weight: 500;
  }
  .theme-deco .section_head{
    font-weight: 600;
  }
  .theme-deco .three-column ul {
    list-style-type: none!important;
  }
