.theme-default .floting__menu{
    background-color: #606060;
  }
  .theme-default .floting__menu li{
    background-color: #606060;
  }
  .theme-default .navbar{
    background-color: #606060;
  }
  .theme-default .section_head{
    font-weight: 600;
  }
  
  .theme-modern .floting__menu{
    background-color: #1e3f5a;
  }
  .theme-modern .floting__menu li{
    background-color: #1e3f5a;
  }
  .theme-modern .navbar{
    background-color: #1e3f5a;
  }
  
  .theme-modern .three-column ul {
    list-style-type: square!important;
  }
  
  .theme-modern textarea{
      color: #1e3f5a;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
  }
  
  .theme-lavender .floting__menu{
    background-color: #1e3f5a;
  }
  .theme-lavender .floting__menu li{
    background-color: #1e3f5a;
  }
  .theme-lavender .navbar{
    background-color: #1e3f5a;
  }
  
  /* Moden Theme */
  .theme-lavender textarea{
      color: #1e3f5a!important;
      font-family: "Raleway", sans-serif;
      font-weight: 400;
  }
  
  .theme-deco{
    font-family: "Lato", sans-serif;
  }
  .theme-deco .floting__menu{
    background-color: #132226;
  }
  .theme-deco .floting__menu li{
    background-color: #132226;
  }
  .theme-deco .navbar{
    background-color: #132226;
  }
  
  /* Moden Theme */
  .theme-deco textarea{
      color: #132226!important;
      font-family: "Jost", sans-serif;
      font-weight: 500;
  }
  .theme-deco .section_head{
    font-weight: 600;
  }
  .theme-deco .three-column ul {
    list-style-type: none!important;
  }
  
  
  
  .floting__menu:hover .floting_menu__text{
    display: block!important;
  }